@font-face {
    font-family: 'Neonderthal';
    src: url('Neonderthaw/Neonderthaw-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

#customTextContainer {
    text-align: center;
}

.neon-text {
    font-family: 'Neonderthal', sans-serif;
    font-size: 99px;
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #102e90,
        0 0 30px #102e90,
        0 0 40px #102e90,
        0 0 50px #102e90,
        0 0 60px #102e90,
        0 0 70px #102e90;
    animation: neonPulse 2s infinite alternate;
}

@keyframes neonPulse {
    from {
        text-shadow:
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #102e90,
            0 0 40px #102e90,
            0 0 50px #102e90,
            0 0 60px #102e90,
            0 0 70px #102e90,
            0 0 80px #102e90;
    }
    to {
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #102e90,
            0 0 20px #102e90,
            0 0 25px #102e90,
            0 0 30px #102e90,
            0 0 35px #102e90,
            0 0 40px #102e90;
    }
}
