canvas {
    background: black;
    display: block;
    margin: 0 auto;
}

#scoreboard {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

#startScreen {
    text-align: center;
    margin-top: 10px;
}

#startButton {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}
