body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: black;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

#menu h1 {
    font-size: 3em;
    font-family: 'Trajan Pro', sans-serif; /* Utilisation de Trajan Pro pour le titre */
    text-transform: uppercase; /* Mettre en majuscules */
    letter-spacing: 0.1em; /* Espacement entre les lettres */
    margin-bottom: 20px; /* Espacement en bas */
}

#menu ul {
    list-style: none;
    padding: 0;
}

.menuButton {
    margin: 20px 10px; /* Espacement modifié */
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Trajan Pro', sans-serif; /* Utilisation de Trajan Pro pour les éléments de liste */
    border: 2px solid #ff4500; /* Bordure orange */
    padding: 10px 20px; /* Espacement intérieur */
    display: inline-block; /* Afficher en ligne */
    background-color: transparent; /* Fond transparent */
    color: white; /* Texte blanc */
    transition: all 0.3s ease; /* Transition fluide */
}

.menuButton:hover {
    background-color: #ff4500; /* Fond orange au survol */
    color: black; /* Texte noir au survol */
}

.hidden {
    display: none; /* Cacher initialement les éléments */
}

#levelSelection {
    margin-top: 20px;
}

#levelSelection h2 {
    font-family: 'Trajan Pro', sans-serif; /* Utilisation de Trajan Pro pour le sous-titre */
    font-size: 1.5em;
    margin-bottom: 10px;
}

#levelSelection button {
    font-family: 'Trajan Pro', sans-serif; /* Utilisation de Trajan Pro pour les boutons */
    font-size: 1.5em; /* Taille de police ajustée */
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #ff4500; /* Bordure orange */
    background-color: transparent; /* Fond transparent */
    color: white; /* Texte blanc */
    margin: 10px; /* Espacement modifié */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition fluide */
}

#levelSelection button:hover {
    background-color: #ff4500; /* Fond orange au survol */
    color: black; /* Texte noir au survol */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
